/*index.html*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

p, h1, h2{
    font-family: "Roboto Mono";
}

.head li, a, button {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.head li{
    text-align: center;
    display: inline-block;
    margin-right: 10px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: cadetblue;
}

button {
    padding: 9px 25px;
    background-color: rgba(95, 158, 160, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(95, 158, 160, 0.8);
}

.nav {
    background-color: #24252a;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center; 
}

.navbar ul{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
   
}

.banner {
    background-color: cadetblue;  
    color: white;
    margin: 0;
    text-align: center;
    padding: 50px; 
    flex: 1; /* Grow to fill remaining space */
    display: flex;
}

.words {
    padding: 200px;
}

.projects {
    text-align: center;
    padding: 50px 50px;
    color: black;
}

#flex{
    display: flex;
    width: 500px;
    padding: 70px; 
    color: #24252a;
}

#LEFT{
    width: 100px; 
    height: 100px; 
    text-align: center; 
    padding: 50px;  
    margin-left: 200px;
    margin-top: 100px; 
    background-color: blue; 
}

#RIGHT{
    width: 100px;
    height: 100px; 
    padding: 50px; 
    text-align: center; 
    margin-left: 900px;
    margin-top: 100px;
    background-color: red;  
}

/*Footer CSS*/ 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
footer{
    background-color: #111; 
}
.footerContainer{
    width: 100%;
    padding: 10px 30px 20px;
}
.socialIcons{
    display: flex; 
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on Social Media Icons */ 
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s; 
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s; 
}

/* End of Hover Effects on Social Media Icons */ 


body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Set minimum height to fill the viewport */
    display: flex;
    flex-direction: column;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerNav{
    margin: 15px 0;
}

.footerNav ul{
    display: flex; 
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1; 
}

.footerBottom{
    background-color: white;
    padding: 10px;
    text-align: center;
}

.footerBottom p{
    color: black; 
}


/*Project.html*/ 

#Test{
    color: blue; 
}

/*about.html*/
#skills{
    text-align: center;
    
}

ul{
    list-style-type: none;
}

/*contact.html*/ 
.contactinfo{
    text-align: center;
}



.box{
    width: 50%; 
}

/*PDF*/ 
.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}
.pdf,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,
h3 {
    text-align: center;
}


img {
    
    aspect-ratio: 1 / 1;
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 16px;
    margin: auto; 
    
}

