/*index.html*/ 

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center; 
}

.navbar ul{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
   
}

.banner {
    background-color: cadetblue;  
    color: white;
    margin: 0;
    text-align: center;
    padding: 50px; 
}

#small-f1 {
    height: 200px;
    width: 200px;
}

.projects {
    text-align: center;
    padding: 50px 50px;
    color: black;
    

}

#flex{
    display: flex;
    width: 500px;
    padding: 70px; 
    color: white;
}

#LEFT{
    width: 100px; 
    height: 100px; 
    text-align: center; 
    padding: 50px;  
    margin-left: 200px;
    margin-top: 100px; 
    background-color: blue; 
}

#RIGHT{
    width: 100px;
    height: 100px; 
    background-color: red; 
    padding: 50px; 
    text-align: center; 
    margin-left: 900px;
    margin-top: 100px; 
}

/*Footer CSS*/ 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
footer{
    background-color: #111; 
}
.footerContainer{
    width: 100%;
    padding: 40px 30px 20px;
}
.socialIcons{
    display: flex; 
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on Social Media Icons */ 
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s; 
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s; 
}

/* End of Hover Effects on Social Media Icons */ 


.footerNav{
    margin: 15px 0;
}

.footerNav ul{
    display: flex; 
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1; 
}

.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.footerBottom p{
    color: white; 
}


/*Project.html*/ 

#Test{
    color: blue; 
}

/*about.html*/
#skills{
    text-align: center;
    
}

ul{
    list-style-type: none;
}

/*contact.html*/ 